.detail-img{
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
}
.detail-card{
    background-color: rgba(250, 250, 250, 0.911);
    max-width: 400px;
    width: 100%;
    margin: 5px auto;
}
@media (min-width:768px) {
    .detail-card{
        width: 20%;
    }
}